{% extends "auctions/layout.html" %}

{% block body %}

{% comment %} Messages pop ups section {% endcomment %}

  {% if messages %}
    {% for message in messages %}
        {% if message.tags == "info" %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}

{% comment %} Content of the page {% endcomment %}

    <h2 class="mb-3">Searching for listing with: {{ query }}</h2>

    <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5 g-4 align-items-center">
      {% for auction in auctions %}
      <div class="col">
        <div class="card mb-3">
          <img src="{{auction.image}}" class="card-img-top" alt="...">
          <div class="card-body border">
            <h5 class="card-title text-truncate">{{auction.item}}</h5>
            <p class="card-text text-truncate">{{auction.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Price: </b><span>{% if auction.proposed_price %} ${{ auction.proposed_price }}  {% else %} ${{ auction.price }} {% endif %}</span></li>
            <li class="list-group-item d-flex justify-content-center"><a href="{% url 'listing' auction.id %}" class="btn btn-primary">Offer Details</a></li>
          </ul>
          <div class="card-footer d-flex justify-content-between align-items-center">
            {{auction.creation_date}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}