{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<!-- Post form to post new posts if user is authenticated -->
{% if user.is_authenticated and '/' == request.path %}
<div class="container text-center col-lg-10 my-3">
    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Write a new post!
    </button>
    <div class="collapse border border-primary-subtle" id="collapseExample">
        <form>
            {% csrf_token %}
            <textarea class="form-control mb-2" id="formContent" rows="4" name="postContent"></textarea>
            <button class="btn btn-primary mb-2" id="postButton" type="button">
                Post !
            </button>
        </form>
    </div>
    
</div>
{% endif %}

<!-- Card layout for posts -->
    <div class="row justify-content-center" id="postContainer">
    </div>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'network/post.js' %}"></script>
{% endblock %}